body {
  background: #184a48;
  color: #E6DB74; 
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #E6DB74;
}

p {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
  margin: 0 20px;
  overflow-wrap: break-word;
}

.header { 
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.identity {
  text-align: center;
  margin-bottom: 1em;
}

.identity h1 {
  font-size: 1.5em;
  color: #E6DB74;
  margin: 0.7em 0 0.3em 0;
  display: inline-block;
}

.identity img {
  max-width: 70px;
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: block;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.5em;
  font-family: VT323;
  color: #E6DB74;
  text-align: center;
  margin-top: 30px;
}

.about h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: VT323;
  color: #E6DB74;
  margin-bottom: 10px;
}

.about p {
  white-space: normal;
  color: #E6DB74;
  margin: 0 20px; 
  line-height: 1.6; 
  overflow-wrap: break-word; 
}

.center-gif {
  text-align: center;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
}

.contact-info a {
  color: #E6DB74;
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 10px;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .identity {
    text-align: left;
  }

  .navigation ul {
    flex-direction: row;
  }

  .navigation li {
    margin: 0 1em;
  }

  .about p {
    margin: 0 50px;
  }
}