body {
  margin: 0;
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

.social-icons a {
  margin-left: 15px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.align-items {
  display: flex;
  padding: 20px;
}

.align-items img {
  border-radius: 5%;
  object-fit: cover;
  width: 200px;
  margin-right: 50px;
  margin-left: 90px;
  height: 200px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  margin-top: 25px;
  margin-right: 10px;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 5%;
}

.Recently {
  padding: 20px;
}

.Recently h3 {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 20px;
  color: black;
}

footer {
  background: #fff;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer .social-icons a {
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #edefff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #435b5b;
  border-radius: 15px;
}

::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

.horizontal-scroll-container::-webkit-scrollbar {
  width: 5px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  .social-icons {
    margin-top: 10px;
    width: 100%;
    text-align: left;
  }

  .images img {
    width: calc(100% - 20px);
    max-width: none;
    margin: 10px;
  }

  .Recently h3 {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .align-items img {
    width: 150px;
    height: 150px;
  }

  .Recently h3 {
    font-size: 18px;
  }
}

h3 {
  margin-left: 90px;
}
@media only screen and (min-width: 568px) {
  img {
    display: block;
  }
}
